body {
    margin: 0;
}

#red {
    background-color: red;
    height: 115px;
}

#green {
    background-color: green;
    height: 400px;
}

#blue {
    background-color: blue;
    height: 115px;
}